body {
    font-family: sans-serif;
    background-color:grey;
    margin-top: 75px;

    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 h1{
     text-align: center;
     font-size: 500%
 }
  
h2{
     text-align: center;
     font-family: bold;
}

  
  .hobby{
      text-align: center;
      font-family: bold;
      color: black ;
  }  
 .college{
     text-align: center;
     font-family: bold;
 color: black; }
 
 .image{
    text-align: center;
}
 a{
    font-family: bold;
    color:maroon;
    font-size:200%;
     
 }
 .vijay1{
     margin: 100 auto;
     text-align: center;
     text-transform: uppercase;
     font-size: 150%;
     width: 600px;
     color:black;
     background: orange;
     font-family: bold;  
     height: 35px; 
     }   
 
 .vj3 {
    text-align: center;
    font-size:80%;
    width: 40%;
    height:30px;
    color : lightblue;
    margin-right: 30%;
    margin-left: 30%;
 }
 input{
     font-family: bold;
     width: 100px;
      }
 hr{
     width:1200px;
      }
#can{
    color:lightblue;
}
 .hide{
    
    
     width:50px;
     color:orange;
     text-transform: uppercase;
     font-size: 150%;
     height: 35px;
    
     }
 .show{
     color:black;
     background: orange;
     font-family: bold;
     text-align: center;
     
     width:600px;
     
     
     height:35px;
     text-transform: uppercase;
     font-size: 150%;
    
 }
 textarea{
     width: 400px;

     height:150px;
 }
 h3{
 font-size:300%;
 }