body {
    font-family: sans-serif;
    background-color:lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 h1{
      text-align: center;
     font-size: 200%;
 }
  
h2{
     text-align: center;
     font-family: bold;
}

  
  .hobby{
      text-align: center;
     font-family: bold;
      
  }  
    .college{
       text-align: center;
     font-family: bold;
  }
 .vijay{
    color: blue;
 }
.image{
    text-align: center;
}
.vijay2{
    color: darkorange;
    text-align: center;
    text-transform: uppercase;
     font-size: 100%;
     width: 500px;
     font-family: bold;
}
.vijay1{
    text-align: center;
    text-transform: uppercase;
     font-size: 100%;
     width: 500px;
     
     color: red;
    }

onclick{
    color: blue;
}
 button{
     margin: 100 auto;
      text-align: center;
     text-transform: uppercase;
     font-size: 100%;
     width: 300px;
     color: green;
   background: brown;
    }   
 script{
        font-family: bold;
        font-size: 100%;
        color: purple;
        text-align: center;
    } 